html body{
    height: 100%;
    width: 100%;
    margin: 0;
}
.limiter {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
  
.container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-image: url('../img/bg-01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;  
}
  
.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.65);
}
  
.wrap-login100 {
    width: 390px;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 0px 50px 0px;
    background: transparent;
}

/*  Login Form */

.login100-form {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    padding: 5px 0px 33px 0px;
}
  
.login100-form-logo {
    font-size: 60px; 
    color: #333333;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}
  
.login100-form-title {
    font-family: Ubuntu-Bold;
    font-size: 28px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 41px;
    display: block;
}

/* Login form input */
.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    padding: 29px 0;
}

.validate-input {
    position: relative;
}

.input100 {
    font-family: Ubuntu-Regular;
    font-size: 20px;
    color: #555555;
    line-height: 1.2;
    outline: none;
	border: none;
    display: block;
    width: 100%;
    height: 50px;
    background: transparent;
    padding: 0 10px 0 80px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
  
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
  
.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    background: #d41872;
    background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: -o-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: -moz-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: linear-gradient(left, #a445b2, #d41872, #fa4299);
}
  
.focus-input100::after {
    font-family: Linearicons-Free;
    font-size: 18px;
    color: #999999;
  
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 35px;
   
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
  
.input100:focus {
    padding-left: 60px;
}
  
.input100:focus + .focus-input100::after {
    left: 23px;
    color: #d41872;
}
  
.input100:focus + .focus-input100::before {
    width: 100%;
}
  
.has-val.input100 + .focus-input100::after {
    left: 23px;
    color: #d41872;
}
  
.has-val.input100 + .focus-input100::before {
    width: 100%;
}
  
.has-val.input100 {
    padding-left: 60px;
}

/* Login Form Button */
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 32px;
}
  
.login100-form-btn {
    font-family: Ubuntu-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    border-radius: 21px;
  
    background: #d41872;
    background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: -o-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: -moz-linear-gradient(left, #a445b2, #d41872, #fa4299);
    background: linear-gradient(left, #a445b2, #d41872, #fa4299);
    position: relative;
    z-index: 1;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
  
.login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 21px;
    background-color: #555555;
    top: 0;
    left: 0;
    opacity: 0;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
  
.login100-form-btn:hover {
    background-color: transparent;
}
  
.login100-form-btn:hover:before {
    opacity: 1;
}

/* Navigation Bar */
#header {
	position:relative;
	left:0;
	right:0;
	top:0;
	z-index:99;
	border-bottom:1px solid rgba(235, 235, 235, 0.25);
	background-color:#FFF;
	-webkit-transition:0.2s all;
	transition:0.2s all;

}

#header.transparent-nav {
	position:absolute;
	background-color: transparent;
}

#header.transparent-nav .main-menu li a {
	color: #ffffff;
}

.main-menu span {
	color: #ffffff;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand .logo {
	margin-top: 10px;
	float: left;
}

.navbar-brand .logo > img {
	max-height: 100px;
}

.main-menu li a {
	text-transform:uppercase;
	-webkit-transition:0.2s all;
	transition:0.2s all;
	padding-top: 15px;
	padding-bottom: 15px;
	text-decoration: none;
	line-height: 20px;
	background-color: transparent;
}

.main-menu li a:hover , .main-menu li a:focus {
	background-color:transparent;
}

.main-menu li a:after {
	content:"";
	display:block;
	height:2px;
	background-color:#FF6700;
	width:100%;
	-webkit-transform: translateY(5px);
	    -ms-transform: translateY(5px);
	        transform: translateY(5px);
	opacity:0;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

.main-menu li a:hover:after , .main-menu li a:focus:after {
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
	opacity:1;
}

.main-menu {
	list-style: none;
	float: right!important;
}

.main-menu li{
	display: inline-block;
	text-align: center;
	list-style: none;
	padding: 20px 15px 15px 15px;
}

.navigationbar {
    width: 1170px;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

/* Tables in all pages */
table {
    border-collapse: collapse;
    border-spacing: 0;
	-webkit-box-shadow:  0px 2px 1px 5px rgba(242, 242, 242, 0.1);
    box-shadow:  0px 2px 1px 5px rgba(242, 242, 242, 0.1);
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.zebra {
    border: 1px solid #555;
}

.zebra td {
    border-left: 1px solid #555;
    border-top: 1px solid #555;
    padding: 10px;
    text-align: left;    
}

.zebra th, .zebra th:hover {
    border-left: 1px solid #555;
	border-bottom: 1px solid #828282;
    padding: 20px;  
    background-color:#151515 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#151515), to(#404040)) !important;
    background-image: -webkit-linear-gradient(top, #151515, #404040) !important;
    background-image:    -moz-linear-gradient(top, #151515, #404040) !important;
    background-image:     -ms-linear-gradient(top, #151515, #404040) !important;
    background-image:      -o-linear-gradient(top, #151515, #404040) !important;
    background-image:         linear-gradient(top, #151515, #404040) !important;
	color:#fff !important;
	font-weight:normal;
}

.zebra tbody tr:nth-child(even) {
    background: #000 !important;
	color:#fff;
}

/*.zebra tr:hover *{
    background: #eeeeee;
	color:#000;
}*/

.zebra tr {
	background:#404040;
	color:#fff;
}

.course_information{
    width: 50%;
}

.pending_table{
    width: 100%;
}

/* Bodys in rest pages */
h1 {
    color: #FFFFFF;
    text-align: center;
}
h2 {
    text-align: center;
}

.section {
	position: relative;
    padding-bottom:80px;
    
    height: 100%;
}
.section-header {
    margin-bottom:40px;
    color: #ffffff;
}

.feature {
	position:relative;
}

.feature + .feature  {
	margin-top:40px;
}

.feature .feature-icon {
	position:absolute;
	left:0;
	top:0;
	width:80px;
	height:80px;
	line-height:80px;
	text-align:center;
	border-radius: 50%;
	font-size:30px;
	border:1px solid #EBEBEB;
	color:#FF6700;
}

.feature-content {
    padding-left:100px;
    color: #ffffff;
}
.container{
    padding-top: 40px;
}

.Sbody{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/home-background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* Student Profile */
.course_information tr:hover *{
    background: #eeeeee;
    color:#000;   
}
.Student_img {
    text-align: center;
    border-radius: 200px;
    height: 200px;
    width: 200px;
}
/* Pending List */
.pending_list{
    width: 100%;
    margin-top: 50px;
}
.pending_list tr:hover *{
    background: #eeeeee;
    color: #000;
}
.button_part{
    margin-top: 20px;
    text-align: center;

}

.Remove_button {
    border-radius: 20px;
    background-color: #404040;
}

.Remove_button:nth-child(even) {
    border-radius: 20px;
    background-color: #000000;
}

.button{
    margin-right: 50px;
    margin-left: 50px;
    background-color: #404040;
    color: #FFFFFF;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover{
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
}

/* Course Review */
.course_review{
    width: 100%;
    margin-top: 50px;
}


.ct-star {
    display: inline-block;
    margin: 0 1px;
    width: 19px;
    height: 19px;
    background: url(../img/stars.png) no-repeat;
    vertical-align: -2px;
    cursor: pointer;
}
.ic-star-off {
    background-position: -39px 0;
}

.review_table{
    width: 100%;
}

/* Course Enrollment */
.search_bar{
    text-align: center;
    margin-top: 40px;
}

.search {
    text-align: center;
    font-size: 20px;
    color: #000000;
    background-color:rgba(255,255, 255, 0.5);
    border-radius: 10px;
    width: 70%;
    height: 40px;
}

.search_button {
    border-radius: 50px;
    height: 40px;
    width: 10%;
}

.search_icon {
    color: #FF6700;
}

/* Course Enrollment */
.search_result {
    margin-top: 0px;
}
.search_result2 {
    margin-top: 20px;
}

.notice {
    margin-top: 50px;
}
.enroll ul {
    list-style: none;
    
}

.enroll li {
    display: inline; 
}

.enroll ul li .course_description {
    display: none;
}
.enroll ul li:hover .course_description{
    display: block;
}

.enroll ul li:hover .course_id {
    display: none;
}

.search:valid + .notice {
    display: none;
}

.enroll ul li:hover .course_detail {
    position: relative;
    text-align: center;
    margin-bottom: -20px;
    margin-top: 50px;
    border-radius: 20px;
    float: left;
    margin-left: -10px;
    margin-right: 0px;
    height: 170px;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
}
.course_detail {
    transition:all 0.5s;
    -moz-transition:all 0.5s; 
    -webkit-transition:all 0.5s; 
    -o-transition:all 0.5s; 
    position: relative;
    text-align: center;
    margin-top: 50px;
    border-radius: 20px;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    height: 150px;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
}

.course_id{
    margin-top: 40px;
    display: block;
    font-size: 20px;
}

.course_description {
    margin-top: 40px;
    font-size: 12px;
    display: block;
}

.proceed_to_enroll {
    background-color: #999999;
    color: #000000;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    font-size: 10px;
}

.pages{
    position: absolute;
    bottom: 100px;
    width: 70%;
    text-align: center;
}

.previous_page{
    background-color: #999999;
    color: #000000;
    border-radius: 20px;
    margin: 0 20px 0 20px;
}

.page1{
    background-color: #999999;
    color: #000000;
    border-radius: 20px;
    margin: 0 20px 0 20px;
}

.page2{
    background-color: #999999;
    color: #000000;
    border-radius: 20px;
    margin: 0 20px 0 20px;
}

.page3{
    background-color: #999999;
    color: #000000;
    border-radius: 20px;
    margin: 0 20px 0 20px;
}

.next_page{
    background-color: #999999;
    color: #000000;
    border-radius: 20px;
    margin: 0 20px 0 20px;
}